body {
	background-color: #F53DE9;
	background-image: url(../images/bg2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	/* keeps the background image in place during scroll */

	/* This is a comment */

	font-family: Helvetica, Arial, sans-serif;
}

.main {
	background-color: rgba(255,255,255,0.66);
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
	border-radius: 20px;
	box-shadow: 0,0,0,0.5,black;

}

h1 {
	text-align: center;
	font-size: 60px;
	margin-bottom: 0;
	font-family: 'Righteous', cursive;
}

h2 {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-weight: normal;
}

h3 {
	cursor: pointer;
	margin-bottom: 0;
	font-family: 'Righteous', cursive

}

img {
	display: block;
	margin: 0 auto;
	border: 5px solid #000000;
	border-radius: 20px;
	width: 200px;
}

p,
ul,
ol {
	line-height: 1.7;
	list-style: none;
	padding-left: 0;
}

a {
	font-weight: bold;
	color: #000fff;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #ff0f00;
}

